#container {
    width: 90vw;
    margin:auto
}
#flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%
}
.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
input {
    height: 15vw;
    border: 2px solid gray;
    text-align: center;
    font-size: 15vw;
    font-weight: bold;
    font-family: sans-serif;
    min-width: none;
}
.buttonBox {
    display: flex;
    justify-content: space-between;
}
.button {
    flex: 1;
    height: 10vw;
    cursor: pointer;
    min-width: none;

}
.gray {
    background-color: gray;
}
.gold {
    background-color: gold;
}
.darkgreen {
    background-color: green;
}
#choices, #numWords {
    font-size: 24px;
    text-align: center;
    width: 100%
}
#numWords {
    font-family: sans-serif;
    font-weight: bold;
}